@model List<DDWA.ViewModels.DrugUnitViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>List of drug units</h3>
    <table class="table-bordered text-center" >
        <thead>
            <tr>
                <th><p>Drug unit id</p></th>
                <th><p>Depot name</p></th>
                <th><p>Drug type</p></th>
                <th><p>Action</p></th>
            </tr>
        </thead>
        @foreach (var d in Model)
            {
            <tr>
                <td><p>   @d.DrugUnitId</p></td>
                @if (d.DepotName != null)
                {
                    <td><p>   @d.DepotName</p></td>
                }
                else
                {
                    <td><p> --- </p></td>
                }
                <td><p>   @d.DrugTypeName</p></td>
                <td>@Html.ActionLink("Edit depot", "EditDrugUnitDepot", new { id = d.DrugUnitId})</td>
            </tr>
        }          
    </table>
</div>