@model DDWA.ViewModels.EditingDrugUnitModel
@{
    ViewBag.Title = "EditDepot";
}

<h2>EditDepot</h2>

<div>
    <h3>Assign drug unit with depot: </h3>
    @using (Html.BeginForm())
    {
        <input  type="hidden" value="@Model.DrugUnitId" name="DrugUnitId" />
        <table>
            <tr>
                <td><p>Drug unit id: </p></td>
                <td><p>@Model.DrugUnitId</p></td>
            </tr>
            <tr>
                <td><p>Depot name:</p></td>                
                <td><p> @Html.DropDownList("DepotId", Model.DepotsList, "--Not selected --") </p></td>
            </tr>        
            <tr><td><input type="submit" value="Save" style="height:25px; width:80px"/></td><td></td></tr>
        </table>
    }
</div>